.card-content{
  border-top:3px solid #091156;
  background-color: #F6F7FF;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-content:hover :first-child{
  background-color: transparent;
}
.boder-divider{
  height: 5px;
    background-color:  #FF64AE;
}