.left-container {
    max-width: 730px;
}
.blog-content {
  flex-wrap: nowrap;
}
.title-content_blog {
    background: #fff;
    padding: 56px 55px 102px 55px;
    margin-bottom: 134px;
    border-radius: 0px 0px 50px 50px;
    box-shadow: 10px 13px 80px 14px rgb(242 244 255 / 95%);
    -webkit-box-shadow: 6px 13px 80px 14px rgb(242 244 255 / 95%);
}
.list-icon_blog span {
    display: flex;
    align-items: center;
    margin-right: 28px;
    color: #ff64ae;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0px;
}
.list-icon_blog span svg {
    margin-right: 6px;
    font-size: 30px;
}
.list-icon_blog a {
    font-weight: bolder;
}
.block-1 {
    margin-bottom: 83px;
    border-radius: 25px;
    padding: 59px 38px 59px 48px;
    box-shadow: -2px 4px 31px 9px rgb(242 244 255);
    -webkit-box-shadow: -2px 4px 31px 9px rgb(242 244 255);
}
.list-question a {
    color: #8b8b8b;
}
.list-question a:hover {
    color: #172176;
}
.list-tags a {
    color: #ff64ae;
    margin-left: 5px;
}
.list-tags a:hover {
    color: #172176;
}
.list-comment a {
    color: #ff64ae;
}
