.bg-ft {
    position: absolute;
    left: 0;
    right: 0;
    background-image: url('assets/images/home/Footer.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.df_flex {
    display: flex;
}
.list-pages {
    padding: 0;
}
.list-page_footer {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.spacer {
    height: 90px;
}
.list-icons_footer {
    color: #fff;
    justify-content: space-between;
    align-items: center;
}
.icons_list {
    padding: 0;
}
.icons-section {
    color: #fff !important;
}
.icons-section svg:hover {
    color: #f78da7;
}
