.professional-container {
    display: flex;
    width: 100%;
}
.professional-teams {
    background-color: #ffffff00;
    box-shadow: 0px 0px 0px 0px rgb(255 255 255 / 0%);
    padding: 91px 60px 94px 60px;
    border-radius: 42px 42px 42px 42px;
}
.professional-teams-active {
    background-color: #fff;
    box-shadow: 0px 25px 50px 25px #f6f7ff;
}
